* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-decoration: none;
    list-style: none;
}

.container {
    background-color: cadetblue;
}

.container h1 {
    padding: 20px 0;
    text-align: center;
    color: gold;
    font-size: 36px;
    font-style: italic;
}

.content {
    background-color: #000;
}

.content ul {
    text-align: center;
}

.content ul li {
    display: inline-block;
}

.content ul li {
    list-style: none;
}

.content ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.content-li-home {
    background-color: red;
    padding: 10px;
}

.content-li-about {
    background-color: green;
    padding: 10px;
}

.cars .my-cars {
    text-align: center;
    font-style: italic;
}

.cars .cars-container {
    padding: 20px;
}

.cars .cars-container .cars-content {
    display: inline-block;
    width: calc(25% - 24px);
    border: 2px solid cadetblue;
    height: 286.5px;
    margin: 0 10px;
    text-align: center;
}

.cars .cars-container .cars-content img {
    width: 100%;
    height: 250px;
}

.cars .cars-container .cars-content h2 {
    padding: 10px;
    background-color: #e6e5e5;
}

.read-information {
    padding: 0 15px;
}

.read-information h1 {
    font-style: italic;
    border-bottom: 3px solid aqua;
}

.read-information p {
    padding-top: 16px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.4;
}

footer {
    background-color: cadetblue;
    margin-top: 15px;
}

footer p {
    font-size: 25px;
    color: gold;
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-style: italic;
}

footer p span {
    font-size: 28px;
}